{% extends 'layout.njk' %}

{% block head %}

<title> Sobre - Tita </title>


{% endblock %}

{% block content %}


            <div id="wrapper">
                <img src="https://avatars3.githubusercontent.com/u/67081271?s=460&u=afd28d903b635dbceb1f6a220fdc05dcd037c179&v=4" alt="Thainá Aguiar">
                <h1>Thainá Aguiar</h1>
                <h2>Estudante - Desenvolvedor Web</h2>
                <p>Estudante de programação, na <a href="https://rocketseat.com.br/" target="_blanck">Rocketseat</a>, full stack, querendo aprender e ser foda em programação. Doida pra trabalhar na área</p>

            </div>

            <div id=links-footer class="links">
                <a href="https://discordapp.com/invite/gCRAFhc">Github</a>
                <a href ="mailto:oi@rocketseat.com.br">E-mail</a>
                <a href="tel:+55-47992078767">Telefone</a>
    
  {% endblock %}